<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodCo Management Soft</title>
    <link rel="stylesheet" href="/assets/css/foundation.css" />
    <link rel="stylesheet" href="/assets/css/foundation-float.css" />
    <link rel="stylesheet" href="/assets/css/foundation-prototype.css" />
    <link rel="stylesheet" href="/assets/css/foundation-icons.css" />
    <link rel="stylesheet" href="/assets/css/foundation-datepicker.css" />
    <link rel="stylesheet" href="/assets/css/docs.css" />
</head>