<div class="top-bar show-for-medium-down hide-for-large" data-sticky data-margin-top="0" data-sticky-container>
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">
                <div class="fi-list margin-right-1" id="hamburguer" data-toggle="offCanvasRightPush">Food Management
                    Software
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="off-canvas position-left body-sign-in-up" id="offCanvasRightPush" data-off-canvas data-transition="push">
    <div class="cell small-12">
        Main Menu
    </div>
    <ul class="vertical menu drilldown" data-drilldown>
        <li>
            <a href="#first">Inventory</a>
            <ul class="menu vertical">
                <li><a href="#">Items</a></li>
                <li><a href="#">Items - Browse Availability</a></li>
                <li><a href="#">Items - Grid View</a></li>
                <li><a href="#">Items Substitution</a></li>
                <li><a href="#">Items Substitution - Grid</a></li>
                <li><a href="#">Required Inventory</a></li>
                <li><a href="#">Inventory Quality Expired / Expiring Items</a></li>
                <li><a href="#">Codes</a>
                    <ul class="menu vertical">
                        <li><a href="#">Code One</a></li>
                        <li><a href="#">Code Two</a></li>
                        <li><a href="#">Code Three</a></li>
                    </ul>
                </li>
                <li><a href="#">Processing</a>
                    <ul class="menu vertical">
                        <li><a href="#">Processing One</a></li>
                        <li><a href="#">Processing Two</a></li>
                        <li><a href="#">Processing Three</a></li>
                    </ul>
                </li>
                <li><a href="#">Adjustments</a></li>
                <li><a href="#">Transfer Orders</a></li>
                <li><a href="#">Physical (Multiple)</a></li>
                <li><a href="#">Physical (Single)</a></li>
                <li><a href="#">View Reserved Lots</a></li>
                <li><a href="#">Reports</a>
                    <ul class="menu vertical">
                        <li><a href="#">Master List</a></li>
                        <li><a href="#">On Hand</a></li>
                        <li><a href="#">On Hand - Required</a></li>
                        <li><a href="#">Accrued Inventory</a></li>
                        <li><a href="#">Inventory Adjustment</a></li>
                        <li><a href="#">Inventory Status</a></li>
                        <li><a href="#">Available Inventory</a></li>
                        <li><a href="#">Inventory Tracking Guide</a></li>
                        <li><a href="#">Inventory Quality</a></li>
                        <li><a href="#">Count Sheets</a></li>
                        <li><a href="#">Uncounted Report</a></li>
                        <li><a href="#">Inventory Log</a></li>
                        <li><a href="#">Usage Report</a>
                            <ul class="menu vertical">
                                <li><a href="#">Report One</a></li>
                                <li><a href="#">Report Two</a></li>
                                <li><a href="#">Report Three</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Production Reports</a>
                            <ul class="menu vertical">
                                <li><a href="#">Production Report One</a></li>
                                <li><a href="#">Production Report Two</a></li>
                                <li><a href="#">Production Report Three</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dormant Items</a></li>
                        <li><a href="#">Partial Lots</a></li>
                        <li><a href="#">Inventory Movements</a></li>
                        <li><a href="#">Overstocked Report</a></li>
                        <li><a href="#">Missing Date Report</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a disabled="true" href="#second">Purchases</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="#third">Payables</a></li>
        <li><a href="#third">Receivables</a></li>
        <li><a href="#third">Ledger</a></li>
        <li><a href="#third">Pricing</a></li>
        <li class="user-account">
            <a href="#" class="wrapped-user-account-option"><%= user.email_address %></a>
            <ul class="menu vertical">
                <li><a href="/user/profile">My Account</a></li>
                <li class="logout"><a href="/user/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>