<div class="auto cell">
    <form action="/user/change-password" method="POST" id="changePasswordForm" onsubmit="return false;" data-abide novalidate>
        <div class="grid-x grid-margin-x">
            <div class="cell small-2 medium-2 text-right text-vertical-center">Current Password</div>
            <div class="cell small-4 medium-3">
                <input type="password" class="input-text-2" id="currentPassword" name="currentPassword" placeholder="Your current password" required>
                <span class="form-error" data-form-error-on="required">
                    This field is required.
                </span>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-2 medium-2 text-right text-vertical-center">Password</div>
            <div class="cell small-4 medium-3">
                <input type="password" class="input-text-2" name="password" id="password" placeholder="Password" required>
                <span class="form-error" data-form-error-on="required">
                    This field is required.
                </span>
            </div>
            <div class="cell small-2 medium-2 medium-offset-2 text-right text-vertical-center">Confirm new password</div>
            <div class="cell small-4 medium-3">
                <input type="password" class="input-text-2" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" required data-equalto="password">
                <span class="form-error" data-form-error-on="required">
                    This field is required.
                </span>
                <span class="form-error" data-form-error-on="equalTo">
                    The password did not match
                </span>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 text-center padding-top-1">
                <button href="#" id="changePasswordFormButton" class="button secondary small">Change Password</button>
            </div>
        </div>
    </form>
</div>