<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="body-sign-in-up">

<div class="grid-container vertical-center medium-4 small-11 bordered shadow padding-3 sign-in-up-box">
    <div class="callout alert" data-closable id="alertContainer" style="display:none;">
        <span id="message"></span>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="grid-x grid-padding-x align-center-middle">
        <form class="medium-8 small-11 end" method="post" id="loginForm" action="/user/login" onsubmit="return false">
            <div class="medium-12 cell text-center">
                <h3>Sign In</h3>
            </div>
            <div class="medium-12 cell">
                <label>Username
                    <input type="text" name="email_address" id="email_address" placeholder="Your email address">
                </label>
            </div>
            <div class="medium-12 cell">
                <label>Password
                    <input type="password" name="password" id="password" placeholder="Your password">
                </label>
            </div>
            <div class="medium-12 cell">
                <button type="submit" class="button secondary medium-8 large-6 small-8 float-center" id="loginButton">Sign In</button>
            </div>
            <div class="medium-12 cell text-center click-here">
                Create an account <span class="font-bold"><a href="/user/signup">here</a></span>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/login.js"></script>
<%- include('./partials/scripts.ejs') %>
</body>
</html>