.vertical-center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

body {
    font-size: 0.8em;
    color: #0D0D0D;
}

thead {
    background-color: #ba5a00;
    color: #FFFFFF;
}

footer {
    font-size: 0.8em;
    color: #bfbfbf;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small {
    color: #bfbfbf;
}

.body-sign-in-up {
    background-color: #FFFFFF;
}

.sign-in-up-box {
    background-color: #ffbb5e;
}

.sign-in-up-box h3 {
    color: #0D0D0D;
}

.top-bar, .top-bar ul {
    background-color: #f2882c;
    color: #FFFFFF;
    padding: 6px 3px;
    font-size: 0.94em;
}

.sign-in-up-box .click-here {
    color: #0D0D0D;
}

.sign-in-up-box .logo-container {
    background-color: #FFFFFF;
}

div .click-here a,
div .click-here a:visited {
    color: #ba5c00;
}

div .click-here a:hover {
    color: #ba5c00;
}

.user-account {
    background-color: #ffb95c;
}

.user-account .logout {
    background-color: #ba5a00;
}

.menu .menu-text {
    font-size: 15px;
    padding: 0.5rem 1rem;
}

.top-bar a, a:hover, .top-bar a:focus {
    color: #FFFFFF;
}

.dropdown.menu > li.is_active > a::after {
    background-color: #ba5c00;
}

.dropdown.menu > li > a {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.menu .is-active > a {
    background: #ffb95c;
    color: #FFFFFF; }

.dropdown.menu > li.is-dropdown-submenu-parent > a {
    color: #FFFFFF;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #FFFFFF transparent transparent;
    color: #FFFFFF;
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
    border-color: transparent #FFFFFF transparent transparent;
}

.is-dropdown-submenu {
    min-width: 160px;
}

.tabs-title {
    float: left; }
.tabs-title > a {
    color: #FFFFFF; }
.tabs-title > a:hover {
    background-color: #ba5c00;
    color: #FFFFFF; }
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background-color: #ba5c00;
    color: #FFFFFF;
}

.tabs-content {
    color: #455A64;
}

.tabs {
    background-color: #f28a2e;
}

.button.secondary {
    background-color: #f2882c;
}

.button.secondary:hover, .button.secondary:focus {
    background-color: #ffb95c;
}

.button.hollow,
.button.hollow.disabled,
.button.hollow[disabled],
.button.hollow.disabled:hover,
.button.hollow[disabled]:hover,
.button.hollow.disabled:focus,
.button.hollow[disabled]:focus {
    border: 1px solid #ba5c00;
    color: #ba5c00;
}

.button.hollow:hover, .button.hollow:focus {
    color: #ffb95c;
}

.textinput {
    font-size: 1.1em;
    text-align: right;
    height: 27px;
}

.input-text-1 {
    font-size: 1.1em;
    text-align: right;
    height: 27px;
}

.input-text-2 {
    font-size: 1.1em;
    height: 27px;
}

.text-vertical-center {
    margin: 5px;
}

.hr-title-separator {
    margin: 0 0 0.5rem 0;
}

.drilldown a,
.drilldown .is-drilldown-submenu-parent > a {
    color: #FFFFFF;
    background-color: #ba5a00;
}

.drilldown .js-drilldown-back > a::before {
    border-color: transparent #FFFFFF transparent transparent;
}

.drilldown .is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #FFFFFF;
}

.drilldown .is-drilldown-submenu.is-active,
.drilldown .nested.is-drilldown-submenu {
    background-color: #ba5a00;
}

#hamburguer::before {
    padding-right: 20px;
}

.user-account a.wrapped-user-account-option{
    background-color: #708690;
    border-top: solid #FFF 1px;
}

.datepicker th {
    background-color: inherit !important;
}