<div class="tabs-panel is-active" id="generalPanel">
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Code</div>
        <div class="cell small-2 medium-2">
            <input type="text" name="code" id="code" class="input-text-2" placeholder="Client Code">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Name</div>
        <div class="cell small-4 medium-9">
            <input type="text" name="name" id="name" class="input-text-2" placeholder="Name">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Commercial Name</div>
        <div class="cell small-4 medium-9">
            <input type="text" name="commercial_name" id="commercial_name" class="input-text-2" placeholder="Commercial Name">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Email Address</div>
        <div class="cell small-4 medium-4">
            <input type="text" name="email" id="email" class="input-text-2" placeholder="Email Address">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Phone Number</div>
        <div class="cell small-4 medium-3">
            <input type="text" name="phone" id="phone" class="input-text-2" placeholder="Phone Number">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Contact</div>
        <div class="cell small-4 medium-9">
            <input type="text" name="contact" id="contact" class="input-text-2" placeholder="Contact">
        </div>
    </div>
    <hr>
    <h5>Billing Address</h5>
    <input type="hidden" name="idAddress" id="idAddress" value="">
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right">Street</div>
        <div class="cell small-4 medium-9">
            <input type="text" name="street" id="street" class="input-text-2" placeholder="The street">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right">City</div>
        <div class="cell small-4 medium-4">
            <input type="text" name="city" id="city" class="input-text-2" placeholder="The city">
        </div>
        <div class="cell small-2 small-offset-1 small-offset-1 medium-2 text-right">State</div>
        <div class="cell small-2 medium-2">
            <input type="text" name="state" id="state" class="input-text-2" placeholder="The state">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right">Zipcode</div>
        <div class="cell small-4 medium-4">
            <input type="text" name="zipcode" id="zipcode" class="input-text-2" onfocusout="getCity();" placeholder="The zipcode">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 small-offset-8 text-right padding-right-1">
            <a href="#" class="button alert small" data-close aria-label="Close modal">Cancel</a>
        </div>
        <div class="cell small-2"><a href="#" id="saveButton" class="button small secondary">Save</a></div>
    </div>
</div>