<div class="tabs-panel is-active" id="generalPanel">
    <h5 class="padding-bottom-1">General Information</h5>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-3 medium-offset-1">
            <input type="text" name="code" id="code" class="input-text-2" placeholder="Code">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-10 medium-offset-1">
            <input type="text" name="name" id="name" class="input-text-2" placeholder="Name">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-10 medium-offset-1">
            <input type="text" name="commercial_name" id="commercial_name" class="input-text-2" placeholder="Commercial Name">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-5 medium-offset-1">
            <input type="text" name="email" id="email" class="input-text-2" placeholder="Email Address">
        </div>
        <div class="cell small-4 medium-4 medium-offset-1">
            <input type="text" name="phone" id="phone" class="input-text-2" placeholder="Phone Number">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-10 medium-offset-1">
            <input type="text" name="contact" id="contact" class="input-text-2" placeholder="Contact">
        </div>
    </div>
    <hr>
    <h5 class="padding-bottom-1">Billing Address</h5>
    <input type="hidden" name="idAddress" id="idAddress" value="">
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-10 medium-offset-1">
            <input type="text" name="street" id="street" class="input-text-2" placeholder="Street">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-5 medium-offset-1">
            <input type="text" name="city" id="city" class="input-text-2" placeholder="City">
        </div>
        <div class="cell small-2 medium-3 medium-offset-1">
            <input type="text" name="state" id="state" class="input-text-2" placeholder="State">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-4 medium-5 medium-offset-1">
            <input type="text" name="zipcode" id="zipcode" class="input-text-2" onfocusout="getCity();" placeholder="Zipcode">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 small-offset-8 text-right padding-right-1">
            <a href="#" class="button alert small padding-left-2 padding-right-2" data-close aria-label="Close modal">Cancel</a>
        </div>
        <div class="cell small-2"><a href="#" id="saveButton" class="button small secondary padding-left-2 padding-right-2">Save</a></div>
    </div>
</div>