<div class="tabs-panel" id="warehousesPanel">
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">UPC</div>
        <div class="cell small-4 medium-3">
            <input type="text" name="upc" id="upc" class="input-text-2" placeholder="UPC">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Warning</div>
        <div class="cell small-4 medium-3">
            <input type="text" name="warning_text" id="warning_text" class="input-text-2 display-inline width-75" placeholder="Warning">
            <input type="checkbox" name="warning" id="warning" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Pack Size</div>
        <div class="cell small-4 medium-3">
            <input type="text" name="pack_size" id="pack_size" class="input-text-2" placeholder="Pack Size">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Pallet</div>
        <div class="cell small-2 medium-3">
            <input type="text" name="pallet" id="pallet" class="input-text-2" placeholder="Pallet">
        </div>
    </div>
</div>