<form method="POST" onsubmit="return false;" id="invoiceForm">
    <input type="hidden" name="orderId" value="<%= order._id %>">
    <input type="hidden" name="clientId" value="<%= order.client?._id %>">
    <h3>Invoices</h3>
    <hr>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-3 text-vertical-center">Shipping Date</div>
        <div class="cell small-4 medium-3">
            <input type="text" id="date" name="date" class="input-text-1">
        </div>
        <div class="cell auto">&nbsp;</div>
        <div class="cell small-12 margin-top-1">
        <table>
            <thead>
            <tr>
                <th class="small-5">Product</th>
                <th class="small-2">Unit</th>
                <th class="small-1">Quantiy</th>
                <th class="small-2">Unit Price</th>
                <th class="small-2">Price</th>
            </tr>
            </thead>
            <tbody id="invoiceDetailsContainer"></tbody>
        </table>
        </div>
    </div>
    <div class="grid-x">
        <div class="cell small-2 small-offset-8 text-right padding-right-1">
            <a href="#" class="button alert small" data-close aria-label="Close modal">Cancel</a>
        </div>
        <div class="cell small-2"><a href="#" id="saveButton" class="button small secondary">Save</a></div>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</form>