<div class="tabs-panel" id="attributesPanel">
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Inactive</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="inactive" id="inactive" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Exclusive Item</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="exclusive_item" id="exclusive_item" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Catch Wt. Sgi UOM</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="catch_wt_sgl" id="catch_wt_sgl" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Catch Wt, Mutli. UOM</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="catch_wt_mutli" id="catch_wt_mutli" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Par Item</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="par_item" id="par_item" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Adv. Purchase</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="adv_purchase" id="adv_purchase" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 small-offset-8 medium-2 medium-offset-8 text-right text-vertical-center">Days</div>
        <div class="cell small-2 medium-2">
            <input type="number" id="adv_purchase_days" name="adv_purchase_days" min="1" max="30" class="input-text-2 width-75">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Expense (non-inventory)</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="expense" id="expense" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Misc Item</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="misc_item" id="misc_item" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Non stock</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="non_stock" id="non_stock" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Prepack Item</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="prepack_item" id="prepack_item" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Supply</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="supply" id="supply" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Web Exclude</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="web_exclude" id="web_exclude" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 small-offset-8 medium-2 medium-offset-8 text-right text-vertical-center">TWO Special Inv.</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="two_specian_inv" id="two_specian_inv" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Non Produce</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="non_produce" id="non_produce" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Non Domestic</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="non_domestic" id="non_domestic" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Organic</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="organic" id="organic" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Pesticide Free</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="pesticide_free" id="pesticide_free" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Pallet Tags</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="pallet_tags" id="pallet_tags" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Taxable</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="taxable" id="taxable" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Quality Check</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="quality_check" id="quality_check" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Future Buying Guide</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="future_buying_guide" id="future_buying_guide" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Daily Buying Guide</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="daily_buying_guide" id="daily_buying_guide" class="input-text-2" value="true">
        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell small-2 medium-2 text-right text-vertical-center">Non Commission</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="non_commission" id="non_commission" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Totes</div>
        <div class="cell small-2 medium-2">
            <input type="checkbox" name="totes" id="totes" class="input-text-2" value="true">
        </div>
        <div class="cell small-2 medium-2 text-right text-vertical-center">Driver Load</div>
        <div class="cell small-1 medium-1">
            <input type="checkbox" name="driver_load" id="driver_load" class="input-text-2" value="true">
        </div>
    </div>
</div>