<div class="grid-x grid-margin-x">
    <div class="cell small-3">
        <div class="grid-x">
            <div class="cell small-12">&nbsp;</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Tot On Order</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Tot Required</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">On Shelf</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Picked</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Deliverd</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
    </div>
    <div class="cell small-3">
        <div class="grid-x">
            <div class="cell small-12">&nbsp;</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Oh Fob Avg</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Oh Del Avg</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Oo Fob Avg</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Oo Del Avg</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Total Owned</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Total Available</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
    </div>
    <div class="cell small-3">
        <div class="grid-x">
            <div class="cell small-12">&nbsp;</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Market</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Cost 1</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Cost 2</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Cost 3</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Cost 4</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-5 text-right text-vertical-center">Cost 5</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
    </div>
    <div class="cell auto">
        <div class="grid-x">
            <div class="cell auto">&nbsp;</div>
            <div class="cell small-5 text-center">Available</div>
            <div class="cell small-5 text-center">Required</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">05/27</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">05/27</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">05/27</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">05/27</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">05/27</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">05/27</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
    </div>
</div>
<hr>
<div class="grid-x grid-margin-x">
    <div class="cell small-5">
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right">Sales</div>
            <div class="cell small-5 text-center">Period To Date</div>
            <div class="cell small-5 text-center">Year to Date</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Qty</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Amount</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Average</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
    </div>
    <div class="cell small-5 large-offset-2">
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right">Purchases</div>
            <div class="cell small-5 text-center">Period To Date</div>
            <div class="cell small-5 text-center">Year to Date</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Qty</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Amount</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Average</div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
            <div class="cell small-5"><input type="text" class="textinput"></div>
        </div>
    </div>
</div>
<hr>
<div class="grid-x grid-margin-x align-center">
    <div class="cell small-3">
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Last Physical</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
    </div>
    <div class="cell small-3">
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Amount</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
    </div>
    <div class="cell small-3">
        <div class="grid-x grid-margin-x">
            <div class="cell auto text-right text-vertical-center">Users</div>
            <div class="cell small-7"><input type="text" class="textinput"></div>
        </div>
    </div>
</div>
